* {
    font-family: 'abril fatface';
    text-align: center;
    color: #2b2b2b;
}

body {
    background-color: ivory;
}

h1 {
    margin-top: 0;
    text-decoration: underline;
    font-size: 2em;
}

.container {
    margin: auto;
    width: 300px;
    background-color: seashell;
    border: 1px solid black;
    border-radius: 10px;
}

#current-time {
    letter-spacing: 1px;
    font-size: 3em;
}